{% include "store/base.html" %}
{% load static %}
{% block content %}

<style>
  body {
    background-color: gray;
  }
</style>

<body>
  <br>
  <div class="container bg-white shadow-md p-5 form-layout">
    <div class="text-center">
      <i class="fa fa-check fa-3x text-success" aria-hidden="true"> </i>
      <br><br>
      <h5> <strong> Ваш обліковий запис успішно активовано! </strong> </h5>
      <hr>
      <p>Будь ласка, увійдіть в свій обліковий запис. </p>
    </div>
  </div>
</body>

{% endblock %}